<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>It's just a blog,</p>
                <p>where hot commands are posted,</p>
                <p>to help you use macOS more easily.</p>

            </div>

            <%- include('./partials/footer.ejs') %>
    </body>
</html>