<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Shift + Option + F = code formatting</p>
        <p>Shift + Option + ↓ = copy line down</p>
        <p>Option + ↑ = move line up</p>
        <p>Control + Command + Q = lock the screen</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
